* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(180deg, #001021, #000033);
    background-image: url('https://r4.wallpaperflare.com/wallpaper/698/189/211/bitcoin-money-coin-cryptocurrency-wallpaper-e91018fd312afdbb36b708afc0c1167d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    font-size: 26px;
    color: #333;
    font-weight: 600;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.input-group {
    position: relative;
}

input, select {
    width: 100%;
    padding: 15px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.75);
    color: #333;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

input::placeholder {
    color: #666;
}

input:focus, select:focus {
    border-color: #1da1f2;
    outline: none;
    background-color: #f0f0f0;
}

.input-focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #1da1f2;
    transition: width 0.3s ease;
}

input:focus ~ .input-focus-border, select:focus ~ .input-focus-border {
    width: 100%;
}

button {
    padding: 15px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

button:hover {
    background-color: #005796;
}

p {
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    color: #333;
}

a {
    color: #1da1f2;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .form-grid {
        grid-template-columns: 1fr;
    }
}
